{% block body %}
<tr>
    <td>
        <h2>Verify Your Email Address</h2>
        <p>Thank you for registering with [Your App Name]. To complete your registration, please verify your
            email address by clicking the button below.</p>
        <p>
            <a href="#" class="button">Verify Email</a>
        </p>
        <p>If the button doesn't work, copy and paste this link into your browser:</p>
        <p><a href="#">[VERIFICATION_LINK]</a></p>
        <p>This link will expire in 24 hours for security reasons.</p>
    </td>
</tr>
{% endblock %}