{% block body %}
<tr>
    <td>
        <h2>Password Reset Request</h2>
        <p>We received a request to reset your password for [Your App Name]. Click the button below to set a new
            password.</p>
        <p>
            <a href="{{ resetUrl }}" class="button">
                Reset Password
            </a>
        </p>
        <p>If the button doesn't work, copy and paste this link into your browser:</p>
        <p>
            <a href="{{ resetUrl }}">
                {{ resetUrl }}
            </a>
        </p>
        <p>This link will expire in 1 hour for security reasons.</p>
    </td>
</tr>
{% endblock %}