<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token('my_csrf') }}">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="auth-page">
    <div class="auth-container" id="app">
        <div class="auth-card">
            {% block body %}{% endblock %}
        </div>
        <div v-if="formLoading" class="preloader">
            <div class="spinner"></div>
            <p>Loading...</p>
        </div>
        <div v-if="modalVisible" v-cloak class="modal-overlay">
            <div class="modal">
                <p>[[ modalFormMessage ]]</p>
                <button @click="closeModal" class="modal-close-btn"></button>
            </div>
        </div>
    </div>
    <script src="{{ asset('vendor/js/vue.global.js') }}" defer></script>
    <script src="/js/main.js" defer></script>
</body>

</html>