{% extends 'dashboard/index.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
<div class="container">
    <div class="dashboard-header">
        <h1>User Profile</h1>
        <p>Add and change your settings</p>
    </div>

    <div class="form-container profile-container">
        <form v-on:submit.prevent="handleUpdateFireworksApiKey"
            action="{{ url('app_dashboard_update_fireworks_api_key') }}">
            <div class="form-section">
                <h3>Update Fireworks API key</h3>
                <div class="form-group">
                    <label for="fireworksApiKey">API key</label>
                    <input type="text" id="fireworksApiKey" name="apiKey" data-type="string" maxlength="255"
                        value="{{ app.user.getFireworksApiKey() }}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-full">Save</button>
            </div>
        </form>
    </div>
    <div class="form-container profile-container">
        <form action="{{ url('app_dashboard_change_password') }}" v-on:submit.prevent="handleChangePassword">
            <div class="form-section">
                <h3>Change Password</h3>
                <div class="form-group">
                    <label for="currentPassword">Current password</label>
                    <input type="password" id="currentPassword" name="currentPassword" minlength="3" maxlength="50"
                        data-type="string" required>
                    <small class="form-hint"></small>
                </div>
            </div>
            <div class="form-section">
                <div class="form-group">
                    <label for="newPassword">New password</label>
                    <input type="password" id="newPassword" name="newPassword" minlength="3" maxlength="50"
                        data-type="string" required>
                    <small class="form-hint"></small>
                </div>

            </div>
            <div class="form-section">
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="password_confirmation" minlength="3"
                        maxlength="50" data-type="string" required>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-full">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}